.git
.github
.venv
.env
.env.*
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
logs
**/logs
data
partie2_rag
docs
tests
partie1_ml/outputs
partie1_ml/notebook.ipynb
partie3_mlops/tests
*.zip
